/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import "font-awesome";
  @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
  @import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.1/css/mdb.min.css);

h2 h3{
  color: #1D2330;
}
p{
  color: #1D2330;
}

//-- product-index start
.background
{
  background-color: #FCE4EC;
}
.product-content{
  margin: 0 auto;
}
//-- product-index end

//-- navbar start
.navbar{
  background-color: #FCE4EC;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #757575 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #90A4AE !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #757575 !important;
    background-color: transparent!important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #44ABE7  ;
    background-color: #FCE4EC!important;
}

.dropdown-menu {
  background-color: #FCE4EC !important;
}
/* Dropdown links */
.dropdown-menu li a {
  color: #757575 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
  font-size: 15px;
  color:  #323232 !important;
  background-color: #FCE4EC !important;
}
//-- navbar end

//-- flashes start
.alert {
  margin: 0;
  border-radius: 0;
}
//-- flashes end

//-- tab start
.tab1 {
  .tab{
	position: relative;
	overflow: hidden;
  padding-left: 0;
  margin: 0;
	width: 100%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

  li{
    float: left;
  }
}
}

//-- tab end

//-- index-dropdown start
.dropdown2{
  margin-top: 20px;
  margin-bottom: 20px;
  .open .dropdown-toggle {
      color: #1D2330 ;
  }

  .dropdown-menu {
    background-color: #FCE4EC !important;
  }
  /* Dropdown links */
  .dropdown-menu li a {
    color: #757575 !important;
  }

  /* On hover, the dropdown links will turn red */
  .dropdown-menu li a:hover {
    font-size: 15px;
    color:  #323232 !important;
    background-color: #FCE4EC !important;
  }
}
//-- index-dropdown end

//-- footer start
.footer{
  padding: 20px 0 20px 0;
  background-color: #FCE4EC;
}
//-- footer end

//-- content test start
.product-index{
.card {
  width: 350px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.card-block{
  button{
    border-radius: 0;
    a{
      color: white;
    }
    a:hover{
      text-decoration: none;
    }
  }
}
}
//-- content test end

//-- index-table start
.product-table{
  table {
    margin: 0 auto;
    width: 900px;
    text-align: center;
    margin-top: 10px;
  	overflow: hidden;
  	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  a {
    color: #1A237E;
    font-weight:bold;
  }
  a:hover{
    color: #424242;
    text-decoration:underline;
  }

td {
	background-color: rgba(255,255,255,0.2);
	color: #263238;
  font-size: 120%;
  font-weight:bold;
}

thead {
	th {
    background-color: #1D2330;
    color: #bdc3c7;
    font-size: 110%;
    text-align: center;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
  td {
  position: relative;
  &:hover {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -9999px;
      bottom: -9999px;
      background-color: rgba(255,255,255,0.2);
      z-index: -1;
    }
  }
}
}
}
}
//-- index-table end

//-- checkout-table start
.checkout-table{
  margin: 0 auto;
  width: 900px;
  text-align: center;

  table {
  margin-top: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  a {
    color: #1A237E;
  }
  a:hover{
    color: #424242;
    text-decoration:underline;
  }

td {
	background-color: rgba(255,255,255,0.2);
	color: #263238;
  font-weight:bold;
}

thead {
	th {
    background-color: #1D2330;
    color: #bdc3c7;
    text-align: center;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
  td {
  position: relative;
  &:hover {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -9999px;
      bottom: -9999px;
      background-color: rgba(255,255,255,0.2);
      z-index: -1;
    }
  }
}
}
}
}
//-- checkout-table end

//-- show start
.show-image{
  margin-left: 150px;
}
//-- show end

//-- welcome start
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    height: 100%;
    margin: auto;
}

.carousel-caption{
  padding-bottom: 400px;
}

.carousel-caption p {
  font-size: 1.4em;

}
.carousel-caption h2 {
    color: #F5F5F5 !important;
    font-size: 5em
}

.carousel-caption a{
  text-decoration: none;
  color: #F5F5F5;
  background-color: transparent;
}

.carousel-caption:hover,
.carousel-caption:focus{
  color: #E0FFFF;
  background-color: transparent;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
      }
}
.badge{
  background-color:#D4E157;
}
//-- welcome end

//-- index show-box start
.test{
body{padding: 10px 250px; text-align: center; font-family: 'Shadows Into Light', cursive; font-size: 30px;}
h2 {
  font-size: 24px;
  font-weight: 600;
  color: #1A237E;
}

.short-line {
  background: #f5f5f5;
  margin: 15px auto 35px auto;
  width: 125px;
  height: 2px;
}

.social {
    position: relative;
    height: 3em;
    width: 13.5em;
    margin:150px auto 200px auto;
}

.social li {
    display: block;
    height: 15em;
    width: 15em;
    line-height: 4em;
    margin: -2.2em;
    position: absolute;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;

}

.social a {
    color: #fffdf0;
    display: block;
    height: 15em;
    width: 15em;
    line-height: 6em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

}

.social li:hover {
  -webkit-transform: scale(1.3,1.3) rotate(45deg);
    -moz-transform: scale(1.3,1.3) rotate(45deg);
  -ms-transform: scale(1.3,1.3) rotate(45deg);
    -o-transform: scale(1.3,1.3) rotate(45deg);
  transform: scale(1.3,1.3) rotate(45deg);
}

.block1 {
    // background: asset-data-url("item_1.jpg");
    left: 0;
    top: 0;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.block2 {
    // background: asset-data-url("item_2.jpg");
    bottom: 75%;
    left: 100%;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.block3 {
    // background: asset-data-url("item_3.jpg");
    left: 200%;
    top: 0;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.block4 {
    // background: asset-data-url("item_4.jpg");
    bottom: 75%;
    left: 300%;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.block5 {
    // background: asset-data-url("item_5.jpg");
    top: 0;
    left: 400%;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
}
//-- index show-box end
